body {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  flex: 1;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  background-color: white;
  border: 5px solid #e3e3e3;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: 40px;
}

header {
  background-color: red;
  grid-column: 1/-1;
  grid-row: 1/8;
  display: flex;
  flex-direction: row;
}

.burgir {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: auto;
  z-index: 9999;
}

.header__wrapper {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header__left {
  background-color: rgb(255, 0, 0);
  width: 80%;
}

.header__image-box--main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__image--main {
  width: 600px;
  height: 400px;
}

.header__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
}

.header__right {
  background-color: #9e6d52;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.header__image-box--top {
  background-color: #9e6d52;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image-box--bottom {
  background-color: #0a846e;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image--icon {
  width: 100px;
}

nav {
  background-color: rgb(255, 255, 255);
  border: 1px solid #e3e3e3;
  grid-column: 1/13;
  grid-row: 8/9;
  display: flex;
  justify-content: space-around;
}

.main-nav__button {
  background: transparent;
  color: #0a846e;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.main-nav__button-log {
  background: transparent;
  padding-top: 10px;
  color: #0a846e;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.main-nav__button:hover {
  color: #7d60fd;
  transform: scale(1.1);
}

.main-nav__button-log:hover {
  color: #7d60fd;
  transform: scale(1.1);
}

main {
  background-color: rgb(255, 255, 255);
  grid-column: 1/13;
  grid-row: 9/50;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.main-section {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section__header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.main-section__title {
  font-size: 40px;
  font-family: Maven Pro;
  color: #0a846e;
}

.main-section__content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-section__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-section__circle {
  background-color: #0a846e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 90%;
  height: 80%;
}

.main-section__image {
  max-width: 100%;
  height: auto;
}

.main-section__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-section__container {
  width: 400px;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

.main-section__subtitle {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.main-section__text {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.5;
}

.main-section__button {
  background-color: #0a846e;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-left: 60%;
}

.main-section__button:hover {
  background-color: #042e26;
}

.main-section__footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.main-section__line {
  background-color: #0a846e;
  width: 40%;
  height: 5%;
  margin-bottom: auto;
}

.main-section__line:hover {
  background-color: #042e26;
}

.planned-plantings__remove-icon {
  display: none;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.planned-plantings {
  background-color: rgb(255, 255, 255);
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.planned-plantings__title {
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  margin-bottom: 15px;
}

.planned-plantings__row {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.planned-plantings__list {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 0;
  list-style: none;
  width: 100%;
}

.planned-plantings__card {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(25% - 40px);
  max-width: calc(25% - 40px);
  display: flex;
  flex-direction: column;
  aspect-ratio: 3 / 4;
}

.planned-plantings__image-container {
  background-color: rgb(255, 255, 255);
  position: relative;
  flex: 0 0 auto;
  height: 72%;
  overflow: hidden;
  margin: 0;
}

.planned-plantings__image {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.planned-plantings__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  margin: 0;
}

.planned-plantings__overlay-icon {
  width: 110px;
  height: auto;
}

.planned-plantings__content {
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.planned-plantings__header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.planned-plantings__plant-name {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.planned-plantings__date {
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.planned-plantings__footer {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.planned-plantings__person {
  background-color: white;
  margin: 0;
  font-size: 14px;
  color: #b0afaf;
}

.planned-plantings__remove-btn {
  background-color: #b93857;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.planned-plantings__remove-btn:hover {
  background-color: #421520;
}

.planned-plantings__more-btn {
  background-color: #0a846e;
  width: 130px;
  height: 60px;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.planned-plantings__more-btn:hover {
  background-color: #042e26;
}

.end-section {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.end-section__content {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.end-section__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.end-section__circle {
  background-color: #0a846e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 70%;
  height: 90%;
}

.end-section__image {
  max-width: 100%;
  height: auto;
}

.end-section__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.end-section__container {
  width: 400px;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

.end-section__text {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
  margin-left: 25px;
  line-height: 1.5;
}

.end-section__h3 {
  font-size: 25px;
  color: #000;
  margin-bottom: 20px;
  margin-left: 25px;
  line-height: 1.5;
}

.end-section__button {
  margin-left: 25px;
  background-color: #0a846e;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.end-section__button:hover {
  background-color: #042e26;
}

.footer.frame {
  grid-column: 1/13;
  grid-row: 50/60;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.footer__main {
  position: relative;
  display: flex;
  width: 100%;
  height: 80%;
}

.footer__image-container {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

.footer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  position: absolute;
  top: 50%;
  left: 125%;
  transform: translateY(-50%);
}

.footer__content {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #ffffff;
  z-index: 1;
  text-align: left;
}

.footer__heading {
  font-size: 36px;
  margin-bottom: 15px;
}

.footer__contact {
  position: absolute;
  bottom: 15px;
  left: 25%;
  transform: translateX(-50%);
  color: #ffffff;
  display: flex;
  gap: 150px;
  align-items: center;
  font-size: 18px;
  z-index: 1;
}

.footer__contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__icon {
  width: 30px;
  height: auto;
}

.footer__to-top {
  background-color: rgb(255, 255, 255);
  border: 1px solid #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.footer__button {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.footer__button:hover {
  color: #7d60fd;
  transform: scale(1.1);
}


  @media (max-width: 768px) {
    .wrapper {
      max-width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  
    .header__wrapper {
      order: -1;
    }
  
    header {
      flex-direction: row;
      height: 100%;
    }
  
    .header__wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    .header__left {
      width: 100%;
      height: 100%;
    }
  
    .header__right {
      flex-direction: row;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  
    .header__image-box--top,
    .header__image-box--bottom {
      width: 100%;
      height: 100%;
    }
  
    nav {
      display: none;
    }

    .burgir {
      display: block;
      width: 40px;
      padding-top: 10px;
      padding-right: 10px;
      width: 50px;
  }

  
    .main-section__header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10%;
      text-align: center;
    }
  
    .main-section__title {
      font-size: 1.8rem;
      color: #0a846e;
      padding-bottom: 15%;
    }
  
    .main-section__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70%;
    }
  
    .main-section__info {
      width: 100%;
      height: 40%;
      order: 1;
    }
  
    .main-section__subtitle {
      text-align: center;
    }
  
    .main-section__text {
      text-align: center;
    }
  
    .main-section__button {
      align-self: center;
      margin-left: 125px;
    }
  
    .main-section__figure {
      width: 300px;
      height: 300px;
      order: 2;
    }
  
    .main-section__image {
      width: 150px;
      height: 200px;
    }

    .planned-plantings__remove-btn {
      display: none;
    }
    
    .planned-plantings__remove-icon {
        display: inline-block;
        width: 25px;
        height: auto;
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(18%) sepia(100%) saturate(1000%) hue-rotate(-10deg) brightness(95%) contrast(120%);
    }
  
    .planned-plantings__title {
      font-size: 1.5rem;
      text-align: center;
      margin: 20px 0;
      color: #000000; 
    }
  
    .planned-plantings__row {
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-between;
      gap: 5px;
    }
  
    .planned-plantings__list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
    }
  
    .planned-plantings__card {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
      margin-bottom: -10px;
      margin: -px;
    }
  
    .planned-plantings__image-container {
      width: 100%;
      height: auto;
    }
  
    .planned-plantings__image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .planned-plantings__content {
      padding: 10px;
      display: flex;
      flex-direction: column;
    }
  
    .end-section__content {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px; 
      padding: 10px;
      max-width: 90%;
    }
  
    .end-section__figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .end-section__circle {
      background-color: #0A846E;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 100x; 
      height: 250px; 
    }
  
    .end-section__image {
      justify-content: center;
      align-items: center;
      max-width: 50%;
      height: auto;
    }
  
    .end-section__container {
      text-align: center;
      padding: 10px;
    }
  
    .end-section__h3 {
      font-size: 1.5rem;
    }
  
    .end-section__text {
      font-size: 1rem;
    }
  
    .end-section__button {
      font-size: 14px;
      padding: 8px 16px;
    }
    
    .footer.frame {
      width: 95%;
      padding: 20px 10px;
      background-color: #ffffff;
      position: relative;
    }
  
    .footer__image-container {
      position: relative;
      width: 100%;
      height: auto; 
    }
  
    .footer__image {
      width: 100%; 
      height: 100%;
      object-fit: cover;
    }
  
    .footer__overlay {
      position: absolute;
      top: 275px;
      left: 0;
      width: 100%;
      height: 40%;
      background-color: rgba(0, 0, 0, 0.712);
      z-index: 1;
    }
  
    .footer__logo {
      position: absolute;
      top: 130px;
      left: 130px;
      width: 150px;
      height: auto;
      z-index: 3;
    }
  
    .footer__content {
      position: absolute;
      top: 340px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      z-index: 4;
      color: white;
    }
  
    .footer__heading {
      font-size: 2rem;
      height: 20;
   
    }
  
    .footer__contact {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 180px;
      position: absolute;
      top: 390px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }
  
    .footer__contact-item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  
    .footer__icon {
      width: 20px;
      height: auto;
    }
  
    .footer__contact-info {
      font-size: 1rem;
      color: white;
    }
  
    .footer__to-top {
      position: absolute;
      bottom: 20px;
      left: 50%;
      height: 100px;
      transform: translateX(-50%);
      z-index: 6;
    }
  
    .footer__button {
      background-color: #0a846e;
      color: white;
      font-size: 1rem;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
    .footer__button:hover {
      background-color: #066655;
    }
}
